@using CNCliente.Models
@using System.IO
@using System.Text.Json
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json

@page "/ttarefa"

@{

}

<div class="flex bg-gray-100 flex-grow flex-col">
    <div class="flex p-4 font-bold text-2xl text-gray-800 border-b-2 mx-3 border-blue-600 border-opacity-90 h-14 ">
        <p>TABELAS</p>
        <p class="px-3"> | </p>
        <p>TAREFAS</p>
    </div>
    <div class="flex flex-grow bg-white m-3 rounded-sm shadow-lg">
        <div class="flex-grow">

            @if (tarefas == null)
            {
                <p>Sem items na lista de tarefas</p>
            }
            else
            {
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Id
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Designação
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Responsável
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Data Limite
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Estado
                            </th>
                            <th scope="col" class="relative px-6 py-3">
                                C
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        @foreach (var item in tarefas)
                        {
                            <tr>
                                <td class="px-6 py-3 whitespace-nowrap">
                                    <div class="flex items-center">
                                        @item.tarefaId
                                    </div>
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">
                                        @item.tarefaNome
                                    </div>
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap">
                                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                        @item.utilizador_Id
                                    </span>
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                    @item.tarefaDatalimite
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                    @item.tarefaEstado
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                    <a href="#" class="text-indigo-600 hover:text-indigo-900">Add</a>
                                    <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                                </td>
                            </tr>
                        }
                        <!-- More people... -->
                </tbody>
                </table>
            }



        </div>
    </div>
</div>

<div>Clicar: </div>
<div>Action: </div>
<div>Action Completed: </div>
<div>Data Bound: </div>

@code {

    IList<tarefa> tarefas { get; set; }

    protected override async Task OnInitializedAsync() =>
    tarefas = await Http.GetFromJsonAsync<List<tarefa>>("api/Tarefa");

}