@using CNCliente.Models
@using CNCliente.Services
@using System.IO
@using System.Text.Json
@inject HttpClient httpclient

@page "/ttarefa"

@{

}

<div class="flex bg-gray-100 flex-grow flex-col">
    <div class="flex p-4 font-bold text-2xl text-gray-800 border-b-2 mx-3 border-blue-600 border-opacity-90 h-14 ">
        <p>TABELAS</p>
        <p class="px-3"> | </p>
        <p>TAREFAS</p>
    </div>
    <div class="flex bg-white m-3 rounded-sm shadow-lg">
        <div class="flex">

            <table class="table">
                <thead>
                    <tr>
                        <th>TarefaId</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in TList)
                    {
                        <tr>
                            <td>@item.tarefaId</td>
                            <td>@item.tarefaParentid</td>
                            <td>@item.projeto_Id</td>
                            <td>@item.tarefaNome</td>
                            <td>@item.tarefaDatahoraregisto</td>
                            <td>@item.tarefaDatalimite</td>
                            <td>@item.utilizador_Id</td>
                            <td>@item.tarefaEstado</td>
                            <td>@item.tarefaTemfilho</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<div>Clicar: </div>
<div>Action: </div>
<div>Action Completed: </div>
<div>Data Bound: </div>

<style>
    .e-grid .e-headercell {
        background-color: rgba(37, 99, 235, 0.9);
        font-weight: bolder;
        color: white;
    }

    .e-search:before {
        content: '\e75d';
    }
</style>


@code {

    public List<tarefa> TList;

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await httpclient.GetAsync("api/tarefa");
        response.EnsureSuccessStatusCode();
        var responseBody = await response.Content.ReadAsStreamAsync();

    }


}